*.egg-info/
*.pyc
slurm_outputs/
.venv/
.python-version
checkpoints/
.ruff_cache/
*.sh
outputs/
__pycache__/
wandb/
embeddings/
lightning_logs/
pack_speedtest.py
speed_test.py
test_lightning.py
dummy_*