defaults:
  # Available options: [tuna, t-fc, esm-mlp, esm-gp]
  - model: tuna
  # For now gold-standard is the only available dataset
  - dataset: gold-standard
  - _self_

seed: 47

wandb:
  project: "TUnA-R"

trainer:
  # Different models will use different epoch numbers, adjust accordingly to original paper.
  max_epochs: 10
  accelerator: auto
  devices: auto
  precision: 32

datamodule:
  batch_size: 16 # Batch size could be increased for faster training, but keeping at 16 to match original paper.
  max_sequence_length: 512
